.app {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    width: calc(100vw);
    height: 100vh;
}

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.buttons {
    position: absolute;
    top: 0;
    left: calc(50% - 150px);
    transform: translateX(-50%);
    background-color: white;
    padding: 10px;
}

.buttons .active {
    background-color: chocolate;
}
